<%- include('../templates/header', {title:'Productos'}) -%>
<%- include('../templates/navbar') -%>

<div class="card">
    <div class="card-body d-flex">
        <div class="form-inline d-inline-flex mr-auto">
            <labe>Category
            <select class="ml-2 form-control">
                <option>Clothes</option>
                <option>Electronics</option>
                <option>Home Items</option>
                <option>Foods</option>
            </select>
        </labe></div>
        <input type="text" class="form-control" style="width:55%;" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div> <!-- card.// -->
<% if (products.length > 0) { %>
    <div class="card">
        <div class="card-body d-flex">
            <div class="form-inline d-inline-flex mr-auto">
                        <% products.forEach(function(product) { %>
                            <%- include('../templates/productitem', {product: product}) -%>
                        <% }); %>
            </div>
        </div>
    </div>
<% } else { %>
    <h1>No hay Productos</h1>
<% } %>	
