<%- include('../templates/header', {title:'Productos'}) -%>
<%- include('../templates/navbar') -%>

<form action="../../form-result.php" method="post" target="_blank">
    <div class="input-group w-100">
        <input type="search" class="form-control" style="width:55%;" placeholder="Search">
        <select class="custom-select" id="selectCategory"></select>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<% if (products.length > 0) { %>
    <div class="card">
        <div class="card-body d-flex">
            <div class="form-inline d-inline-flex mr-auto">
                <% products.forEach(function(product) { %>
                    <%- include('../templates/productitem', {product: product}) -%>
                <% }); %>
            </div>
        </div>
    </div>
<% } else { %>
    <h1>No hay Productos</h1>
<% } %>	
