/*body{
    width: 750px;
    margin: 0 auto;
}
*/
h1{
    text-align: center;
}

.banner{
    width: 750px;
    height: 100px;
}

#mydatatable tfoot input{
    width: 100% !important;
}
#mydatatable tfoot {
    display: table-header-group !important;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}